<div class="container">
    <div class="meta">
        <h2 class="section-title"><%= __('categories') %></h2>
    </div>
    <div class="divider"></div>
    <div class="categories">
        <%
            var categories = ''
            site.categories.forEach((category) => {
                categories += `<a href="${config.root}${category.path}" class="category">${category.name}</a>`
            })
        %>
        <%- categories %>
    </div>
    <div class="meta">
        <h2 class="section-title"><%= __('tags') %></h2>
    </div>
    <div class="divider"></div>
    <div class="tags">
        <%
            var tags = ''
            site.tags.forEach((tag) => {
                tags += `<a href="${config.root}${tag.path}" class="tag">${theme.hashtag_prefix_before_tags ? '#' : ''}${tag.name}</a>${theme.hashtag_prefix_before_tags ? '' : ','}`
            })
            if (!theme.hashtag_prefix_before_tags) { tags = tags.slice(0, tags.length - 1) }
        %>
        <%- tags %>
    </div>
</div>